<br>
<div data-ng-controller="GameController">
  <a class="btn btn-primary btn-lg" role="button" ng-click="play()">Play</a>
  <a class="btn btn-primary btn-lg" role="button" ng-click="clear()">Clear</a>
  <br>
  <table class="table">
    <thead>
    <tr>
      <th scope="col">User</th>
      <th scope="col">Player 1</th>
      <th scope="col">Player 2</th>
      <th scope="col">Result</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="game in games.data">
      <td>{{ game.attributes.userName }}</td>
      <td>{{ game.attributes.player1 }}</td>
      <td>{{ game.attributes.player2 }}</td>
      <td>{{ game.attributes.result }}</td>
    </tr>
    </tbody>
  </table>
</div>